:root{
    --main : #ff67b3;
    --sec : #4b00d7;
    --acc : #fa4c50;

}

*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'Poppins', sans-serif;
}

.text-main{
    color: var(--main) !important;
}

.bg-main{
    background-color: var(--main);
}

.border-main{
    border: 2px solid var(--main);
}

.bg-linear{
    background: linear-gradient(to bottom right, var(--sec), var(--acc));
}

.text-linear{
    background: -webkit-linear-gradient(125deg , var(--sec), var(--acc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-100{
    margin-top: 100px;
}


/* Navbar */

.navbar{
    height: 76px;
    align-items: flex-end;
    transition: 0.4s;
}

.link-nav{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 10px;
}

.link-nav:hover{
    color: var(--main);
}

.navbar-brand{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;

}



.text-icon{
    color: var(--main);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-icon:hover{
    color: white;
    background-color: var(--main);
}


/* Header */

.header{
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url('https://picsum.photos/1000') ;
}

h1{
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 10px;
}

@media screen and (max-width : 700px){
    h1{
        font-size: 50px;
    }
}

.btn-custom{
    background-color: var(--main);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid var(--main);
    
}

.btn-custom:hover{

    border: 2px solid var(--main);
    color: var(--main);
    background-color: transparent;

}


/* Relative */

.vh-30{
    min-height: 30vh;
    background-image: url('./media/blur.jpg');
    background-position: center;
    background-size: cover;
}

.relative{
    position: relative;
    top: -130px;
}

.blur{
    backdrop-filter: blur(2px);
    border-radius: 10px;
}


/* Cards */

.card-custom{
    min-height: 300px;
    width: 100%;
    border: 1px solid var(--sec);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: #343434;
}

.card-img-top{
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.heart{
    font-size: 25px;
    /* z-index: 999; */
}


/* Swiper */

.swiper {
  width: 300px;
  height: 400px;
}

.swiper-slide{
    width: 300px ;
    height: 350px; 
}

@media screen and (max-width : 700px){

    .swiper {
        width: 100px;
        height: 400px;
      }
      
      .swiper-slide{
          width: 100px ;
          height: 350px; 
      }


}

.pt-100{
    padding-top: 100px;
}


/* Card Increment */

.card-increment{
    height: 150px;
    width: 20%;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;

}



/* Brand */

.title-brand::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--main);
    width: 60px;
    bottom: -10px;
}


/* Footer */



.text-icon2{
    background-color: grey;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.text-icon2:hover{
    color: white;
    background-color: var(--main);
}


/* Annunci */

.accordion{
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}

.button1{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.button3{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.accordion-button:not(.collapsed){

    background-color: rgba(104, 152, 255, 0.3);

}

.announcementCard{
    min-height: 100px;
    width: 30%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    background-color: rgba(88, 88, 91, 0.2);
}

